
<style>
    body {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 900px;
      margin: 0 auto;
      padding: 20px;
      font-family: Arial, sans-serif;
      background-color: #f0f2f5;
    }

    .cover-image {
      width: 100%;
      height: 400px;
      background-image: url("../images/course-3.jpg");
      background-size: cover;
      background-position: center;
      margin-bottom: 20px;
    }

    .profile {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .profile-picture {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }

    .profile-details {
      flex: 1;
    }

    .profile-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .profile-description {
      font-size: 16px;
      color: #555555;
      margin-bottom: 10px;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f0f2f5;
      padding: 10px 20px;
      font-family: Arial, sans-serif;
    }

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      color: #333333;
    }

    .navbar-options {
      display: flex;
      align-items: center;
    }

    .navbar-option {
      display: flex;
      align-items: center;
      margin-left: 10px;
      color: #333333;
      text-decoration: none;
    }

    .navbar-option i {
      margin-right: 5px;
    }
  </style>

<body>

   

    <div class="container">
      <div class="cover-image"></div>
  
      <div class="profile">
        <img class="profile-picture" src="../images/person_6.jpg" alt="Foto de perfil">
        <div class="profile-details">
          <h1 class="profile-name">Nombre Apellido</h1>
          <p class="profile-description">Descripción: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac sapien a neque rutrum tincidunt. Mauris eget lacinia purus.</p>
        </div>
      </div>
    </div>
  </body>
