<%- include('pantalla_egresado/header'); %>

  <style>
    .custom-shadow {
      box-shadow: 0 4px 10px rgba(100, 166, 232, 0.6);
    }

    .custom-shadow:hover {
      box-shadow: 0 4px 6px rgba(123, 181, 238, 0.5);
    }
  </style>

  <h2 class="bg-sky-800 text-white text-center py-4 text-xl my-4">OFERTAS LABORALES</h2>
  

  <div class="content-wrapper ">

      <div class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 gap-2">

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md " src="../images/ol-2.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg  ">Programación y desarrollo de software:</h3>
            <p class="m-4 text-center"> Es importante tener experiencia en lenguajes de programación como Java, Python,
              C++, y ser capaz de desarrollar y mantener aplicaciones y sistemas.</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="/perfil-empresa">Ver Info</a>
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="egresado-apli">Aplicar</a>
          </div>
        </div>

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md " src="../images/ol-1.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg ">Sistemas operativos y redes:</h3>
            <p class="m-4 text-center">Conocimientos en sistemas operativos como Windows, Linux o Unix, así como en
              redes de computadoras, protocolos de comunicación y seguridad informática.</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
          </div>
        </div>

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md " src="../images/ol-3.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg ">Base de datos:</h3>
            <p class="m-4 text-center">Familiaridad con sistemas de gestión de bases de datos (por ejemplo, MySQL,
              Oracle, MongoDB)
              y habilidades en diseño, administración y optimización de bases de datos.</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
          </div>
        </div>

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md" src="../images/ol-4.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg ">Arquitectura de sistemas:</h3>
            <p class="m-4 text-center">Capacidad para diseñar y desarrollar la arquitectura de sistemas informáticos,
              incluyendo
              la integración de diferentes componentes y tecnologías.</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
          </div>
        </div>

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md" src="../images/ol-7.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg ">Ingeniero(a) de Soporte</h3>
            <p class="m-4 text-center">Tecnología, información e internet - Jornada completa - Tecnología de la
              información</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
          </div>
        </div>

        <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
          <div>
            <img class="rounded-t-md" src="../images/ol-5.png" alt="">
          </div>
          <div>
            <h3 class="text-center bg-sky-800 text-white text-lg ">Practicante de Sistemas</h3>
            <p class="m-4 text-center">Instituto Apoyo</p>
          </div>
          <div class="m-4 text-center">
            <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
          </div>
        </div>
    </div>
  </div>

  <%- include('pantalla_egresado/footer'); %>