<%- include('pantalla_docente/header'); %>
<div class="container">
    <div class="table-container">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nombre Estudiante</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Empresa</th>
            <th>RUC</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Juan</td>
            <td>Pérez</td>
            <td>12345678</td>
            <td>ABC</td>
            <td>123456789</td>
            <td>Activo</td>
          </tr>
          <tr>
            <td>María</td>
            <td>López</td>
            <td>87654321</td>
            <td>XYZ</td>
            <td>987654321</td>
            <td>Inactivo</td>
          </tr>
          <!-- Agrega más filas según tus necesidades -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- Scripts de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

  <%- include('pantalla_docente/footer'); %>