<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Phone</h4>
            <p>8296312</p>
        </div>
        <div class="content-foo">
            <h4>Email</h4>
            <p>8296312</p>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <p>8296312</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AlexCG Design | Jordan Alexander</h2>
</footer>

<style>
    .bg-black {


        .bg-black {

            .bg-black .bg-black {
                background-color: black;
            }

            .bg-opacity-50 {
                --bg-opacity: 0.5;
                background-color: rgba(0, 0, 0, var(--bg-opacity));
            }

            footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 60px;
                /* Altura del footer */
            }

            body {
                position: relative;
                min-height: 100vh;
            }

            .content {
                padding-bottom: 60px;
                /* Altura del footer */
            }
        }
    }
    
</style>


<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
 </body>

</html>
