<%- include('inicio/encabezado'); %>

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96 bg-gradient-to-r from-transparent to-transparent">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
     
    </div>
  </div>
  <div class="absolute left-0 bottom-0 mb-4 ml-4">
    <h1 class="mb-4 text-6xl font-serif font-bold leading-none tracking-tight text-transparent bg-gradient-to-r from-purple-800 to-purple-500 bg-clip-text">Bolsa Laboral</h1>
    <h1 class="mb-4 text-6xl font-serif font-bold leading-none tracking-tight text-transparent bg-gradient-to-r from-purple-800 to-purple-500 bg-clip-text">CEUCERO</h1>

    <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-white bg-gradient-to-r from-purple-500 to-blue-500 rounded-lg hover:bg-gradient-to-r hover:from-blue-500 hover:to-purple-500 focus:outline-none focus:ring-4 focus:ring-blue-300">
      <span class="mr-2">Ver más</span>
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </a>
    
  
  </div>
  <!-- Botones -->
</div>



<div class="bg-white my-8">

  <BR></BR>

  <div style="text-align: center; font-family: 'Times New Roman', Times, serif; margin: 20px auto; padding: 20px; border: 2px solid rgba(0, 0, 0, 0.2); border-radius: 10px; background-color: #666666; color: #ffffff;">
    <h1 style="font-size: 28px; font-weight: bold;">¡Bienvenido a nuestra Bolsa Laboral!</h1>
    <p style="font-size: 18px;">En nuestra plataforma, conectamos a empresas y profesionales en busca de nuevas oportunidades laborales. Nuestro objetivo es ser el puente que une a talentosos candidatos con empresas de renombre.</p>
    <p style="font-size: 18px;">Ofrecemos una amplia gama de empleos en diversos sectores, desde tecnología y finanzas hasta marketing y diseño. Ya sea que estés buscando tu primer empleo o quieras dar un paso adelante en tu carrera, aquí encontrarás oportunidades emocionantes.</p>
    <p style="font-size: 18px;">Trabajamos arduamente para garantizar que cada oferta de trabajo cumpla con altos estándares de calidad. Además, brindamos recursos y herramientas para ayudarte a destacar en el proceso de selección.</p>
    <p style="font-size: 18px;">No pierdas la oportunidad de impulsar tu carrera profesional. ¡Explora nuestras ofertas de trabajo y comienza a construir un futuro exitoso hoy mismo!</p>
  </div>
  
  <BR></BR>

  

  <div id="animation-carousel" class="relative w-full" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
         <!-- Item 1 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
            <img src="https://diariocorreo.pe/resizer/r1PMDWcs3tMHLIyHW-tJA2dIO-E=/1200x675/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/TA54X7L55VE53AAJPIT74RFVYE.jpeg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
            <img src="https://ladecana.pe/wp-content/uploads/2023/03/instituto-crucero-1024x576.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item="active">
            <img src="https://www.tecnodecrucero.edu.pe/wp-content/uploads/2022/09/IMG_9452-scaled.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-200 ease-linear" data-carousel-item>
            <img src="https://ladecana.pe/wp-content/uploads/2023/03/tecnol-gico-de-Crucero-2.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
  
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

<BR></BR>
<BR></BR>

<!-- inicio del registro -->

<div class="registration-process">
  <div class="step">
    <div class="step-icon"><i class="fas fa-user-plus"></i></div>
    <div class="step-title">Regístrate</div>
    <div class="step-description">Crea una cuenta</div>
  </div>
  <div class="arrow"><i class="fas fa-long-arrow-alt-right"></i></div>
  <div class="step">
    <div class="step-icon"><i class="fas fa-file-alt"></i></div>
    <div class="step-title">Llene sus datos</div>
    <div class="step-description">Proporcione la información requerida</div>
  </div>
  <div class="arrow"><i class="fas fa-long-arrow-alt-right"></i></div>
  <div class="step">
    <div class="step-icon"><i class="fas fa-check-circle"></i></div>
    <div class="step-title">Listo</div>
    <div class="step-description">Su registro está completo</div>
  </div>
</div>

<!-- Oportunidades Unicas-->
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Nuestras Empresas Afiliadas</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Nuestras empresas afiliadas son una parte integral de nuestro éxito y nos enorgullece contar con ellas como colaboradores estratégicos en el desarrollo de nuestros productos y servicios. Estas empresas, cuidadosamente seleccionadas, comparten nuestros valores y visión, y trabajan en estrecha colaboración con nosotros para ofrecer soluciones de calidad a nuestros clientes.</p>
    </div>
    <div class="flex flex-wrap -m-4 text-center">
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M8 17l4 4 4-4m-4-5v9"></path>
            <path d="M20.88 18.09A5 5 0 0018 9h-1.26A8 8 0 103 16.29"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">2.7K</h2>
          <p class="leading-relaxed">Downloads</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
            <circle cx="9" cy="7" r="4"></circle>
            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">1.3K</h2>
          <p class="leading-relaxed">Egresados</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M3 18v-6a9 9 0 0118 0v6"></path>
            <path d="M21 19a2 2 0 01-2 2h-1a2 2 0 01-2-2v-3a2 2 0 012-2h3zM3 19a2 2 0 002 2h1a2 2 0 002-2v-3a2 2 0 00-2-2H3z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">74</h2>
          <p class="leading-relaxed">Files</p>
        </div>
      </div>
      <div class="p-4 md:w-1/4 sm:w-1/2 w-full">
        <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
          </svg>
          <h2 class="title-font font-medium text-3xl text-gray-900">46</h2>
          <p class="leading-relaxed">Places</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- NOTICIAS -->
<div class="max-w-screen-lg mx-auto">
  <!-- header -->
  <header class="flex items-center justify-between py-2">
    <h3 class="px-2 lg:px-0 font-bold">
      Tech Blog
    </h3>
    <button class="block md:hidden px-2 text-3xl">
      <i class='bx bx-menu'></i>
    </button>
    

  </header>
  <!-- header ends here -->

  <main class="mt-10">

    <div class="mb-4 md:mb-0 w-full mx-auto relative">
      <div class="px-4 lg:px-0">
        <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
          "De I.E. Crucero a Capitanes del Éxito: El Viaje Triunfal de Nuestros Egresados"        </h2>
        <a 
          href="#"
          class="py-2 text-green-700 inline-flex items-center justify-center mb-2"
        >
          Una virtud y una vision
        </a>
      </div>

      <img src="https://images.unsplash.com/photo-1587614387466-0a72ca909e16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="w-full object-cover lg:rounded" style="height: 28em;"/>
    </div>

    <div class="flex flex-col lg:flex-row lg:space-x-12">

      <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
        <p class="pb-6">La Institución Educativa Crucero es un faro de conocimiento y desarrollo situado en el 
          corazón de nuestra comunidad. Con una trayectoria de excelencia académica y un compromiso inquebrantable 
          con la formación integral de sus estudiantes, la IE Crucero ha sido un referente educativo durante décadas.
           Su equipo docente altamente calificado se dedica apasionadamente a inspirar y motivar a los alumnos, 
           fomentando un ambiente de aprendizaje dinámico y enriquecedor. Desde sus modernas instalaciones hasta 
           sus programas educativos innovadores, la IE Crucero se ha convertido en un verdadero símbolo de excelencia
          educativa y un trampolín hacia un futuro brillante para sus egresados.</p>

        <p class="pb-6">Dificultad en insensible razonable en. De como fue él ellos. 
          Preferencia ellos mismos me como a fondo la parcialidad considerada en la estimación. 
          La aceptación de Middleton descubrió proyectando lo que es así o. En o apego inquietud notablemente comparación en un.
           Se rodea próspera estimulada am me discreción expresión. Pero la verdad es que puede ser viuda china. Grasa de 
           preferencia ocasional notablemente ahora proyectando inusualmente diferente. Proyección de sentimientos particulares 
           compañeros interesados ​​hacer a mi gusto. Escuchar periódico en ventaja franqueza a no dispuesto a concluir.</p>

        <p class="pb-6">
          La IE Crucero se enorgullece de ofrecer una educación holística que va más allá de los aspectos académicos. Reconociendo la importancia del desarrollo personal y social, la institución promueve la participación en actividades extracurriculares, deportes y proyectos comunitarios. A través de estos espacios, los estudiantes adquieren habilidades de liderazgo, trabajo en equipo y empatía, fortaleciendo su carácter y su capacidad para enfrentar los desafíos del mundo real.
        </p>

        <div class="border-l-4 border-gray-500 pl-4 mb-6 italic rounded">
          El compromiso de la IE Crucero con la excelencia se refleja en sus resultados sobresalientes. Año tras año, los estudiantes de la institución destacan en exámenes estandarizados y competencias académicas, demostrando su nivel de preparación y su dominio de los conocimientos impartidos. Además, los egresados de la IE Crucero continúan cosechando éxitos en sus estudios superiores y en sus carreras profesionales, siendo reconocidos por su ética de trabajo, creatividad y capacidad de adaptación.
        </div>

        <p class="pb-6">En resumen, la IE Crucero es un bastión de excelencia educativa que ha dejado una huella profunda en la vida de sus estudiantes y en la comunidad en general. Su enfoque integral, su equipo docente comprometido y sus instalaciones modernas la convierten en un referente educativo en nuestra región. La IE Crucero continúa forjando líderes y ciudadanos ejemplares, preparándolos para enfrentar los desafíos del futuro con confianza y determinación.</p>

      </div>

      <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
        <div class="p-4 border-t border-b md:border md:rounded">
          <div class="flex py-2">
            <img src="https://randomuser.me/api/portraits/men/97.jpg"
              class="h-10 w-10 rounded-full mr-2 object-cover" />
            <div>
              <p class="font-semibold text-gray-700 text-sm"> Mike Sullivan </p>
              <p class="font-semibold text-gray-600 text-xs"> Editor </p>
            </div>
          </div>
          <p class="text-gray-700 py-3">
            Mike writes about technology
            Yourself required no at thoughts delicate landlord it be. Branched dashwood do is whatever it.
          </p>
          <button class="px-2 py-1 text-gray-100 bg-green-700 flex w-full items-center justify-center rounded">
            Follow 
            <i class='bx bx-user-plus ml-2' ></i>
          </button>
        </div>
      </div>

    </div>
  </main>
  <!-- main ends here -->

  
</div>



<style>
  .registration-process {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.step:hover {
  background-color: #ebebeb;
}

.step-icon {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.step-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.step-description {
  font-size: 14px;
  text-align: center;
}

.arrow {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.arrow i {
  font-size: 24px;
  color: #888;
}


</style>

<BR></BR>
<div class="bg-white my-8">

  


    
<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Crea cuenta de egresado</h3>
                <form class="space-y-6" action="#">
                    <div>
                      <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                      <input type="text" name="nombres" id="nombres" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Juan Carlos" required>
                    </div>
                    <div>
                      <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                      <input type="text" name="apellidos" id="apellidos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Perez Perez" required>
                    </div>
                    <div>
                      <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                      <input type="text" name="dni" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="05689457" required>
                    </div>
                    <div>
                      <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de nacimiento</label>
                      <input type="date" name="fecha" id="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div>
                      <label for="genero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
                      <select name="genero" id="genero" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option>Seleccione opción</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Fenemino">Fenemino</option>
                      </select>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrarse</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<%- include('inicio/pie'); %>