<%- include('inicio/encabezado'); %>


<body>
  <header>
      
      <section class="textos-header">
          <h1>Bolsa Laboral de Crucero</h1>
          <h2>Nuestros servicios a tu alcance</h2>
      </section>
      <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
              style="height: 100%; width: 100%;">
              <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff;"></path>
          </svg></div>
  </header>

  <main>
      <section class="contenedor sobre-nosotros">
          <h2 class="titulo">Nuestro producto</h2>
          <div class="grid xl:grid-cols-3 lg:grid-cols-2 md:grid-cols-2 gap-2">

            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md " src="../images/ol-2.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg  ">Programación y desarrollo de software:</h3>
                <p class="m-4 text-center"> Es importante tener experiencia en lenguajes de programación como Java, Python,
                  C++, y ser capaz de desarrollar y mantener aplicaciones y sistemas.</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="oferta-egresado-1">Saber Mas</a>
              </div>
            </div>
    
            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md " src="../images/ol-1.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg ">Sistemas operativos y redes:</h3>
                <p class="m-4 text-center">Conocimientos en sistemas operativos como Windows, Linux o Unix, así como en
                  redes de computadoras, protocolos de comunicación y seguridad informática.</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Saber Mas</a>
              </div>
            </div>
    
            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md " src="../images/ol-3.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg ">Base de datos:</h3>
                <p class="m-4 text-center">Familiaridad con sistemas de gestión de bases de datos (por ejemplo, MySQL,
                  Oracle, MongoDB)
                  y habilidades en diseño, administración y optimización de bases de datos.</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Ver Info</a>
              </div>
            </div>
    
            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md" src="../images/ol-4.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg ">Arquitectura de sistemas:</h3>
                <p class="m-4 text-center">Capacidad para diseñar y desarrollar la arquitectura de sistemas informáticos,
                  incluyendo
                  la integración de diferentes componentes y tecnologías.</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Saber Mas</a>
              </div>
            </div>
    
            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md" src="../images/ol-7.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg ">Ingeniero(a) de Soporte</h3>
                <p class="m-4 text-center">Tecnología, información e internet - Jornada completa - Tecnología de la
                  información</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Saber Mas</a>
              </div>
            </div>
    
            <div class="custom-shadow border-indigo-100 border-3 rounded-md m-1">
              <div>
                <img class="rounded-t-md" src="../images/ol-5.png" alt="">
              </div>
              <div>
                <h3 class="text-center bg-sky-800 text-white text-lg ">Practicante de Sistemas</h3>
                <p class="m-4 text-center">Instituto Apoyo</p>
              </div>
              <div class="m-4 text-center">
                <a class="bg-sky-800 text-white py-2 px-4 rounded-md hover:bg-indigo-400" href="">Saber Mas</a>
              </div>
            </div>
        </div>
      </section>
      <section class="portafolio">
          <div class="contenedor">
              <h2 class="titulo">Portafolio</h2>
              <div class="galeria-port">
                  <div class="imagen-port">
                      <img src="img/img1.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img2.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img3.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img1.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img4.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img5.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img6.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
                  <div class="imagen-port">
                      <img src="img/img7.jpg" alt="">
                      <div class="hover-galeria">
                          <img src="img/icono1.png" alt="">
                          <p>Nuestro trabajo</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="clientes contenedor">
          <h2 class="titulo">Que dicen nuestros clientes</h2>
          <div class="cards">
              <div class="card">
                  <img src="img/face1.jpg" alt="">
                  <div class="contenido-texto-card">
                      <h4>Name</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                  </div>
              </div>
              <div class="card">
                  <img src="img/face2.jpg" alt="">
                  <div class="contenido-texto-card">
                      <h4>Name</h4>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, sapiente!</p>
                  </div>
              </div>
          </div>
      </section>
      <section class="about-services">
          <div class="contenedor">
              <h2 class="titulo">Nuestros servicios</h2>
              <div class="servicio-cont">
                  <div class="servicio-ind">
                      <img src="img/ilustracion1.svg" alt="">
                      <h3>Name</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
                  <div class="servicio-ind">
                      <img src="img/ilustracion4.svg" alt="">
                      <h3>Name</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
                  <div class="servicio-ind">
                      <img src="img/ilustracion3.svg" alt="">
                      <h3>Name</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, qui?</p>
                  </div>
              </div>
          </div>
      </section>
  </main>
  
  
  
  
  
  <footer>
      <div class="contenedor-footer">
          <div class="content-foo">
              <h4>Phone</h4>
              <p>8296312</p>
          </div>
          <div class="content-foo">
              <h4>Email</h4>
              <p>8296312</p>
          </div>
          <div class="content-foo">
              <h4>Location</h4>
              <p>8296312</p>
          </div>
      </div>
      <h2 class="titulo-final">&copy; AlexCG Design | Jordan Alexander</h2>
  </footer>
</body>
 
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(202, 95%, 37%, 0.459), hsla(214, 56%, 59%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(191, 97%, 34%, 0.459), hsla(272, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}
  .registration-process {
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  margin: 0 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.step:hover {
  background-color: #ebebeb;
}

.step-icon {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.step-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.step-description {
  font-size: 14px;
  text-align: center;
}

.arrow {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.arrow i {
  font-size: 24px;
  color: #888;
}


</style>

<BR></BR>
<div class="bg-white my-8">

  


    
<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Crea cuenta de egresado</h3>
                <form class="space-y-6" action="#">
                    <div>
                      <label for="nombres" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombres</label>
                      <input type="text" name="nombres" id="nombres" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Juan Carlos" required>
                    </div>
                    <div>
                      <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                      <input type="text" name="apellidos" id="apellidos" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Perez Perez" required>
                    </div>
                    <div>
                      <label for="dni" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">DNI</label>
                      <input type="text" name="dni" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="05689457" required>
                    </div>
                    <div>
                      <label for="fecha" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de nacimiento</label>
                      <input type="date" name="fecha" id="fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    <div>
                      <label for="genero" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
                      <select name="genero" id="genero" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
                        <option>Seleccione opción</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Fenemino">Fenemino</option>
                      </select>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required>
                    </div>
                    
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrarse</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>

</div>
<%- include('inicio/pie'); %>