<%- include('inicio/encabezado'); %>


  <div class="bg-white my-8">
<br>
<div class="bg-gray-200 p-6">
    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-6">
        <div class="flex items-center">
          
            <div class="ml-6">
                <h2 class="text-3xl font-bold text-gray-900">Presentación</h2>
                <p class="text-gray-700 mt-2 text-lg">El Instituto de Educación Superior Público "De Crucero" es una institución de educación superior tecnológica, creada para brindar una oferta formativa de alta calidad y responder a las demandas del mercado laboral.</p>
                <p class="text-gray-700 mt-2 text-lg">Nuestro objetivo es contribuir al desarrollo a nivel local, regional y nacional, manteniendo un enfoque global. Además, nos comprometemos con la conservación del medio ambiente y el desarrollo del talento humano para impulsar el sector productivo.</p>
                <h3 class="text-xl font-semibold mt-4 text-gray-900">Mg. Victor Fidel Pando Beltrán</h3>
                <h4 class="text-gray-700 mt-1 text-lg">Director General (e)</h4>
                <a href="#" class="inline-block mt-4 px-4 py-2 text-white font-semibold bg-blue-500 rounded hover:bg-blue-600 transition duration-200">Ver más</a>
            </div>
            <div>
                <img class="w-150 h-150 rounded-full shadow-xl" src="https://www.tecnodecrucero.edu.pe/wp-content/uploads/2022/09/Vik.png" alt="Imagen">
            </div>
        </div>
    </div>
</div>
    


<br>
    
  </div>
<%- include('inicio/pie'); %>